
    <footer id="contatos">
            <div class="texto">
                <h5>UNOESTE - Universidade do Oeste Paulista</h5><br>
                <h5>FIPP - Faculdade de Informática de Presidente Prudente</h5>
                <h5>Secretaria da Faculdade de Informática / R. José Bongiovani, 700 - Cidade Universitária</h5>
                <h5>Bloco H - 1º andar - Telefone: (18) 3229 - 1060</h5>
                <h5>Email: infoeste@fipp.unoeste.br</h5>
                <a href="https://www.unoeste.br/fipp/"><h5>FIPP</h5></a>
            </div>
        </footer>
</body>
</html>